<router-outlet name="toolbar"></router-outlet>

<mat-card style="margin: 10px;">
  <mat-grid-list cols="2" rowHeight="3:4">
    <mat-grid-tile>
      <mat-card-title>
        <mat-card-header style="margin-bottom: 15px;">Animals</mat-card-header>
        <mat-card-subtitle>67 animals in herd</mat-card-subtitle>
        <mat-card-subtitle style="color: lightblue;">5 due to calf</mat-card-subtitle>
        <mat-card-subtitle style="color: red;">8 in withdrawal</mat-card-subtitle>
        <mat-card-subtitle style="color: darkgreen;">12 near 30 Month</mat-card-subtitle>
      </mat-card-title>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card-content>
        <chart [type]="type" [data]="data" [options]="options" style="width: 95%; height: 95%;"></chart>
      </mat-card-content>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>

<mat-card style="margin: 10px;">
  <mat-grid-list cols="2" rowHeight="3:4">
    <mat-grid-tile>
      <mat-card-title>
        <mat-card-header style="margin-bottom: 15px;">Farm</mat-card-header>
        <mat-card-subtitle>56 ha (12 ha rented)</mat-card-subtitle>
        <mat-card-subtitle>830 kg feed left</mat-card-subtitle>
        <mat-card-subtitle>120 ton of silage</mat-card-subtitle>
      </mat-card-title>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card-content>
        <chart [type]="type" [data]="data" [options]="options" style="width: 95%; height: 95%;"></chart>
      </mat-card-content>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>
