<mat-toolbar mat-dialog-title color="primary">
  <mat-toolbar-row>
    <i class="material-icons md-light md-24" (click)="close()" style="padding-right: 15px;">close</i>
    <h1>Create group</h1>
    <i class="material-icons md-light md-24" (click)="done()" style="position: absolute; right: 0; padding-right: 15px;">check</i>
  </mat-toolbar-row>
</mat-toolbar>

<div mat-dialog-content>

  <form name="addAnimal">

    <mat-form-field style="width: 100%;">
      <input matInput #nameInput name="name" [(ngModel)]="group.name" [formControl]="nameControl" placeholder="Group name" type="text" (change)="trimInput($event)" required>
      <mat-error *ngIf="nameControl.invalid && !nameControl.hasError('checkIfNameExists')">Please enter group name.</mat-error>
      <mat-error *ngIf="nameControl.hasError('checkIfNameExists')">Group with that name already exists.</mat-error>
    </mat-form-field>

    <mat-form-field style="width: 100%;">
      <input matInput name="created" [ngModel]="group.created" placeholder="Created on" type="text" disabled>
    </mat-form-field>

    <mat-form-field style="width: 100%;">
      <textarea matInput name="description" [(ngModel)]="group.description" placeholder="Description" (change)="trimInput($event)" #descriptionInput></textarea>
    </mat-form-field>

  </form>

  <div *ngIf="group.animals && group.animals.length > 0" class="fa-form-row">
    <h3 >In this group ({{ group.animals ? group.animals.length : 0 }}):</h3>
  </div>

  <mat-list>
    <mat-list-item *ngFor="let animal of group.animals">
      <h3 matLine><i class="material-icons md-dark md-18" style="vertical-align: top;">local_offer</i> {{animal}} </h3>
      <button mat-button color="warn" (click)="removeFromGroup(animal)">Remove</button>
    </mat-list-item>
  </mat-list>

  <div class="fa-form-row" style="text-align: center;">
    <button mat-raised-button color="accent" (click)="addAnimals()">Add animals</button>
  </div>
</div>

<app-loader *ngIf="showLoader" [label]="loaderLabel"></app-loader>
