<app-herd-toolbar *ngIf="selectedNo === 0" [showSearch]="showSearch" (showSearchChangeEvent)="toggleSearch($event)"></app-herd-toolbar>
<app-herd-toolbar-selection *ngIf="selectedNo > 0" [selectedNo]="selectedNo" (showSearchChangeEvent)="toggleSearch($event)"></app-herd-toolbar-selection>

<app-herd-tabs *ngIf="selectedNo === 0 && !showSearch"></app-herd-tabs>
<app-herd-search *ngIf="showSearch" (showSearchChangeEvent)="toggleSearch($event)" (searchListEvent)="searchInList($event)"></app-herd-search>

<router-outlet></router-outlet>
