<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1>FarmApp</h1>
    <div [@animateBackbtn]="backbtnState" (click)="closeSidenav()" style="position: absolute; top: 10px; right: 10px;"><i class="material-icons md-light md-36" >arrow_back</i></div>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <i class="material-icons md-48 md-light">person</i>
  </mat-toolbar-row>
</mat-toolbar>


<mat-list>
  <mat-list-item (click)="closeSidenav()" routerLink="/dashboard"> <span><i class="material-icons md-dark md-inactive">assessment</i></span> Dashboard </mat-list-item>
  <mat-list-item (click)="closeSidenav()" routerLink="/herd/list/all"> <span><i class="material-icons md-dark md-inactive">list</i></span> Animals </mat-list-item>
  <mat-list-item (click)="closeSidenav()" routerLink="/herd/list/all"> <span><i class="material-icons md-dark md-inactive">home</i></span> Farm </mat-list-item>
  <mat-list-item (click)="closeSidenav()" routerLink="/herd/list/all"> <span><i class="material-icons md-dark md-inactive">playlist_add_check</i></span> Audit </mat-list-item>
  <mat-divider></mat-divider>
  <h3 matSubheader>Management</h3>
  <mat-list-item (click)="closeSidenav()" routerLink="/herd/list/all"> <span><i class="material-icons md-dark md-inactive">contacts</i></span> Contacts </mat-list-item>
  <mat-list-item (click)="closeSidenav()" routerLink="/herd/list/all"> <span><i class="material-icons md-dark md-inactive">comment</i></span> <span [matBadge]="messages" matBadgeOverlap="false" [matBadgeColor]="messages === 0 ? 'primary' : 'warn'">Messages</span> </mat-list-item>
  <mat-list-item (click)="closeSidenav()" routerLink="/herd/list/all"> <span><i class="material-icons md-dark md-inactive">import_contacts</i></span> Tutorials </mat-list-item>
  <mat-list-item (click)="closeSidenav()" routerLink="/settings"> <span><i class="material-icons md-dark md-inactive">settings</i></span> Settings </mat-list-item>
</mat-list>
