<div style="">
  <app-backdrop [show]="open" (closeEvent)="close($event)"></app-backdrop>
  <smd-fab-speed-dial class="fa-fab-bottom-right" [(open)]="open" direction="up" animationMode="scale" [fixed]="selectedNo === 0">
    <smd-fab-trigger spin="true">
      <button mat-fab (click)="clickFab()" ><i class="material-icons md-light md-24">{{ selectedNo === 0 ? 'add' : (open ? 'close' : 'chevron_right') }}</i></button>
    </smd-fab-trigger>

    <smd-fab-actions>
      <button mat-mini-fab color="primary" #editTooltip="matTooltip" (click)="openDialog('edit')" *ngIf="selectedNo === 1" matTooltipPosition="left" matTooltip="View/Edit animal..." (mouseenter)="$event.stopImmediatePropagation()" (mouseleave)="$event.stopImmediatePropagation()"><i class="material-icons md-light md-24">edit</i></button>
      <button mat-mini-fab color="primary" #groupTooltip="matTooltip" (click)="openDialog('group')" matTooltipPosition="left" matTooltip="Add to group..." (mouseenter)="$event.stopImmediatePropagation()" (mouseleave)="$event.stopImmediatePropagation()"><i class="material-icons md-light md-24">group_work</i></button>
      <button mat-mini-fab color="primary" #treatmentTooltip="matTooltip" (click)="openDialog('treatment')" matTooltipPosition="left" matTooltip="Add treatment..." (mouseenter)="$event.stopImmediatePropagation()" (mouseleave)="$event.stopImmediatePropagation()"><i class="material-icons md-light md-24">colorize</i></button>
    </smd-fab-actions>
  </smd-fab-speed-dial>
</div>
